* {
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}

body {
    min-height: 100vh;
    transition: 0.5s;
}

img {
    margin: 0 auto;
    height: 200px;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.mouseEvent {
    border: 6px solid rgb(126, 5, 85);
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
    padding: 20px;
}

.buttonRed {
    color: pink;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    padding: 20px;
}

.btn {
    width: 100%;
    padding: 30px;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
}